<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310164574527-mb033r1novihrnkr0121k5moham4riar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310164574527-mb033r1novihrnkr0121k5moham4riar</string>
	<key>API_KEY</key>
	<string>AIzaSyAltHKi7S_5owfbrgfUvvoKmN8o1W_LkfI</string>
	<key>GCM_SENDER_ID</key>
	<string>310164574527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myCashflowDemo</string>
	<key>PROJECT_ID</key>
	<string>mycash-c3ded</string>
	<key>STORAGE_BUCKET</key>
	<string>mycash-c3ded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310164574527:ios:ca891f7814747f9b</string>
	<key>DATABASE_URL</key>
	<string>https://mycash-c3ded.firebaseio.com</string>
</dict>
</plist>